<% provide(:title,"Help")%>
<head>
  <title><%= full_title(yield(:title)) %></title>
</head>
<body>

<h1>Content Goes Here</h1>


<h2>This is a Help Page which were Created by Muhtar Mamatov </h2>
<h3>You can ask more about page from<a href="https://www.railstutorial.org/book/static_pages">GRails Tutorial</a> </h3>
</body>